@model CategoryCreationBindingModel

@{
    ViewData["Title"] = "Create Category";
}

@using Microsoft.Extensions.Localization
@inject IStringLocalizer<CategoryCreationBindingModel> localizer

<br />
<h2 class="text-center">Create Category</h2>
<br />

<form asp-area="Admin" asp-controller="Categories" asp-action="Create" method="post" class="form-horizontal">
    @Html.FormGroupFor(model => model.Name)
    @Html.FormGroupFor(model => model.Slug)
    @Html.FormGroupFor(model => model.CategoryPicUrl)
    <div class="form-group">
        <div class="col-sm-10 col-sm-push-2">
            <input type="submit" value="Create" class="btn btn-success" />
            <a asp-area="Admin" asp-controller="Categories" asp-action="Index" class="btn btn-warning">Cancel</a>
        </div>

    </div>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/create-slug.js"></script>
    <script>
        $(function () {
            createSlug("@(Html.IdFor(model => model.Name))", "@(Html.IdFor(model => model.Slug))");
         });
    </script>
}
