@model UserConciseViewModel



<tr class="table-dark">
    <th scope="row" class="text-center">@Model.UserName</th>
    <td class="text-center">@Model.Email</td>
    <td class="text-center">@Html.DisplayFor(model => model.IsModerator)</td>
    <td class="text-center">@Html.DisplayFor(model => model.IsAdmin)</td>

    <td class="text-center">
        @if (Model.IsAdmin == true)
        {
            <a asp-area="Admin" asp-controller="User" asp-action="Details" asp-route-id="@Model.Id"
               class="btn btn-default">
                Details
            </a>
            @if (Model.IsModerator == true)
            {
                <a asp-area="Admin" asp-controller="User" asp-action="CancelModerator" asp-route-id="@Model.Id"
                   class="btn btn-warning">
                    Cancel Moderator
                </a>
            }
        }
        @if (Model.IsAdmin == false)
        {
            <a asp-area="Admin" asp-controller="User" asp-action="Details" asp-route-id="@Model.Id"
               class="btn btn-default">
                Details
            </a>
            <a asp-area="Admin" asp-controller="User" asp-action="MakeModerator" asp-route-id="@Model.Id"
               class="btn btn-success">
                Make Moderator
            </a>
            <a asp-area="Admin" asp-controller="User" asp-action="ChangePassword" asp-route-id="@Model.Id"
               class="btn btn-primary">
                Change Password
            </a>
            <a asp-area="Admin" asp-controller="User" asp-action="Ban" asp-route-id="@Model.Id"
               class="btn btn-danger">
                Ban
            </a>
            @if (Model.IsModerator == true)
            {
                <a asp-area="Admin" asp-controller="User" asp-action="CancelModerator" asp-route-id="@Model.Id"
                   class="btn btn-warning">
                    Cancel Moderator
                </a>
            }
        }

    </td>
</tr>

