@model ProductViewModel

<tr class="table-bordered">
    <th scope="row">
    <img src="@Model.ProductImageUrl" width="100" height="100" />
    </th>
    <td class="text-center align-middle">
    @Model.ModelName
    </td>
    <td class="text-center align-middle">
    @Model.Description
    </td>
    <td class="text-center align-middle">
    @Model.Price лева
    </td>  
    <td class="text-center align-middle">
        <a asp-area="" asp-controller="Products" asp-action="Details" asp-route-id="@Model.Id" asp-route-slug="@Model.Slug"
           class="btn btn-info fa fa-bars">Детайли</a> <br /> <br />
        <form asp-controller="Orders" asp-action="AddProduct" asp-route-id="@Model.Id" method="post">
            <input type="submit" value="Order" class="btn btn-success fas fa-shopping-basket" />
        </form>
    </td>
<tr>