@model OrderAddressCreationBindingModel
@{
    ViewData["Title"] = "Finalize Order";
}

@using Microsoft.Extensions.Localization
@inject IStringLocalizer<OrderAddressCreationBindingModel> localizer
<br />
<h2 class="text-center">Finalize Order</h2>
<br />

<form asp-area="" asp-controller="Orders" asp-action="FinalizeOrder" method="post" class="form-horizontal">
    @Html.FormGroupFor(model => model.FirstName)
    @Html.FormGroupFor(model => model.LastName)
    <div class="form-group row">
        <label asp-for="PhoneNumber" class="col-form-label col-sm-2 font-weight-bold"></label>
        <div class="col-sm-10 col-sm-push-2">
            <input type="tel" asp-for="PhoneNumber" pattern="[0-9]{10}" class="form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Email" class="col-form-label col-sm-2 font-weight-bold"></label>
        <div class="col-sm-10 col-sm-push-2">
            <input type="email" asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    @Html.FormGroupFor(model => model.Country)
    @Html.FormGroupFor(model => model.City)
    @Html.FormGroupFor(model => model.Address)
    <div class="form-group row">
        <label asp-for="PostalCode" class="col-form-label col-sm-2 font-weight-bold"></label>
        <div class="col-sm-10 col-sm-push-2">
            <input type="number" asp-for="PostalCode" class="form-control" />
            <span asp-validation-for="PostalCode" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-10 col-sm-push-2">
            <input type="submit" value="Order" class="btn btn-success fa fa-shopping-basket" />
            <a asp-area="" asp-controller="Orders" asp-action="Index" class="btn btn-warning fa fa-arrow-left">Cancel</a>
        </div>

    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
